{{page-title 'User'}}
<div class="container">

  <label class="checkbox mt-5 has-text-primary">
    <input
      id="toggle-users"
      type="checkbox"
      checked={{not this.archived}}
      {{on "click" this.toggleUsers}}/>
    Show archived users
  </label>

  <div class="columns is-centered">

    {{#each @model as |user|}}
      <div class="column">

        <LinkTo @route="users.user" @model={{user}} class="user">
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>{{user.name}}</p>
          </div>
        </LinkTo>

      </div>
    {{/each}}

  </div>
</div>
