{{page-title 'User'}}
<div class="container">

  <label for="toggle-users" class="checkbox mt-5 has-text-primary">
    Show archived users
  </label>

  <input
    data-test-id="toggle-users"
    type="checkbox"
    checked={{not this.archived}}
    {{on "click" this.toggleUsers}}/>

  <div class="columns is-centered">

    {{#each @model as |user index|}}
      <div class="column">
        <LinkTo
          @route="users.user"
          @model={{user}}
          data-test-id="{{if user.archived "archived" "active"}}-user">
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>
              {{user.name}}
            </p>
          </div>
        </LinkTo>

      </div>
    {{/each}}

  </div>
</div>
